# OS / IDE
.DS_Store
Thumbs.db
*.log

# Node / package managers
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build/Dev outputs
dist/
build/
coverage/
.vite/
.parcel-cache/
.next/
.nuxt/
.turbo/

# Env a lokální data
.env
.env.*