.job-modal-content-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.job-modal-content-description {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.2;
}

.job-modal-content-skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    gap: 12px;
    row-gap: 16px;
}

.skill-item {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    padding: 6px 12px;
    margin: 0;
    background-color: #f0f0f0;
    border-radius: 4px;
    white-space: nowrap;
}