/* Základ */
body {
  display: block;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
}

.cv {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  background: #fff;
  border: 1px solid #ddd;
  filter: grayscale(100%); /* celý layout grayscale */
}